{
"root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": ["/node_modules", "/tscnfig.json", "**/*.js"],
  "rules" : {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }

}